# Graphs

Using the previously collected data detailing how matches connect to the rest of the leaked information, we can create graphs and see the degree of interconnectivity between the matches.

In [188]:
#imports

import json
import itertools
import collections
import http_server

import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

from operator import itemgetter
from community import community_louvain
from networkx.readwrite import json_graph
from networkx.algorithms.community.centrality import girvan_newman

%matplotlib inline
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

We only use degree 1, as larger degrees resulted in unmanagably large graphs. But distance 1 is quite good enough for our purposes.

In [5]:
#Global variables 

DEGREE = 1

DEGREE_FILE = '../generated/map/degree_' + str(DEGREE) +'/'

def get_graph_elem_file(elem_type, leak):
    return DEGREE_FILE + leak + '_' + elem_type + '.csv'

### Create the graphs

Note that as some of the graphs have still very many nodes, we can choose to filter these down to only those connected to more than one node (unless a node is a match -- we still want to know who is not connected to anyone).

Note the special attention drawn to the "bahamas" leak, which has a slightly different schema.

In [199]:
def remove_loners(full_df):
    
    '''Removes nodes with fewer than 2 connections who are not matches'''
    
    node_counts = full_df['START_ID'].append(full_df['END_ID']).value_counts()

    ids_to_remove = []

    for index, row in full_df.iterrows():
        start_id = row['START_ID']
        end_id = row['END_ID']

        if (row['match_x'] == False and node_counts[start_id] < 2) or (row['match_y'] == False and node_counts[end_id] < 2):
            ids_to_remove.append(index)
    
    return full_df.drop(full_df.index[ids_to_remove]).reset_index(drop=True)

def graph_leak_matches(leak, dense=False):
    
    '''Creates graphs of matches found in a given leak'''
    
    bahamas = (leak == 'bahamas')

    node_id = '0'
    name_index = '1'

    if bahamas:
        node_id = '4' 
        name_index = '7'

    plt.rcParams["figure.figsize"] = (23,23)

    
    #Load the data
    nodes = pd.read_csv(get_graph_elem_file('nodes', leak), index_col=0)\
                                                            .reset_index(drop=True)[[node_id, name_index, 'Match']]

    nodes.rename(columns={node_id:'node_id', name_index:'name', 'Match':'match'}, inplace=True)
    nodes['id'] = nodes.index
    
    edges = pd.read_csv(get_graph_elem_file('edges', leak), index_col=0).reset_index(drop=True)[['START_ID', 'END_ID']]
    #edges.rename(columns={index:'index_start'})
    
    #Format the data as a set of edges with information about the nodes
    full_df = pd.merge(nodes, edges, left_on='node_id', right_on='START_ID')
    full_df = pd.merge(full_df, nodes, left_on='END_ID', right_on='node_id').drop(['node_id_x', 'node_id_y'], axis=1)
    
    #filter too large graphs if told so
    if dense:
        print('Size before removing loners: ' + str(len(full_df)))
        full_df = remove_loners(full_df)
        print('Size after removing loners: ' + str(len(full_df)))
    
    #create the graph
    #graph = nx.from_pandas_edgelist(full_df, 'name_x', 'name_y', edge_attr=None, create_using=nx.DiGraph())
    #graph = nx.from_pandas_edgelist(full_df, source='START_ID', target='END_ID', edge_attr=True, create_using=nx.DiGraph())
    graph = nx.DiGraph()
    for i in range(0,len(full_df)):
        graph.add_edge(int(full_df.loc[i,"id_x"]), int(full_df.loc[i,'id_y']))
    
    for n in graph:
        graph.node[n]['name'] = nodes.loc[nodes['id'] == n, 'name'].to_string(index=False)
    
    #prepare for coloring the nodes according to if it is a match to a charity or not
    match_class_1 = full_df[['name_x', 'match_x']].rename(columns={'name_x':'name', 'match_x':'match'})
    match_class_2 = full_df[['name_y', 'match_y']].rename(columns={'name_y':'name', 'match_y':'match'})
    
    match_class = match_class_1.append(match_class_2).set_index('name')
    match_class = match_class[~match_class.index.duplicated(keep='first')]
    
    match_class = match_class.reindex(graph.nodes())
    match_class['match'] = pd.Categorical(match_class['match'])
    
    print('Matches for ' + leak + ' papers: ')
    print(nx.info(graph))
    
    #draw the graph
    #nx.draw(graph, nx.spring_layout(graph, scale=60, k=0.25), with_labels=True, alpha=1, node_size=1000,
    #    node_color=match_class['match'].cat.codes, cmap=plt.cm.Paired)
    
    d = json_graph.node_link_data(graph)
    json.dump(d, open('network/force.json','w'))
    
    return nodes

### Graphing

In [202]:
nodes = graph_leak_matches('panama')

Matches for panama papers:
Name:
Type: DiGraph
Number of nodes: 111
Number of edges: 71
Average in degree:   0.6396
Average out degree:   0.6396

In [13]:
http_server.load_url('temp/force/index.html')

127.0.0.1 - - [12/Dec/2018 20:21:50] "GET /temp/force/index.html HTTP/1.1" 200 -

Press <RETURN> to stop server

To restart server run:
python -m http.server 8000

In [203]:
graph_leak_matches('paradise')

Matches for paradise papers:
Name:
Type: DiGraph
Number of nodes: 467
Number of edges: 376
Average in degree:   0.8051
Average out degree:   0.8051

       node_id                                               name  match   id
0     81021085  405 Lexington Avenue, Third Floor; New York Ne...  False    0
1     81024524  One Rotary Center; 1560 Sherman Avenue; Evanst...  False    1
2     81026273  3rd Floor, 2431 – 37 Ave NE; Calgary T2E 3A8; ...  False    2
3     81027090  Canon's Court; 22 Victoria Street; Hamilton; H...  False    3
4     81027146  Clifton House; 75 Fort Street; Grand Cayman KY...  False    4
5     81029389  Argyle House; 41a Cedar Avenue; Hamilton HM 12...  False    5
6     81031545         46 Point Finger Road; Paget DV 04; Bermuda  False    6
7     81032909  225 N Michigan; Suite 1200; Chicago; IL 60601;...  False    7
8     81035645  One Robert Wood Johnson Place; New Brunswick; ...  False    8
9     81037035  633 Third Avenue, 4th Floor; New York; New Yor...  False    9
10    81038750  P O Box 520; Colorado Springs 80901; CO; Unite...  False   10
11    81041199  7th Floor, Cheung Kong Center; 2 Queen's Road ...  False   11
12    81042682  800 W Chestnut Ave., M/#704; Monrovia; CA 9101...  False   12
13    81046581  320 East 43rd Street; New York; N.Y. 10017; Un...  False   13
14    81048039  c/o David Becker; 2200 South Dakota Avenue; Wa...  False   14
15    81050475  400 Jones Bridge Road; Chevy Chase; MD 20815; ...  False   15
16    81052034  1200 Getty Center Drive; Suite 300; 90049 Los ...  False   16
17    81053473  3125 W Big Beaver Road; Troy MI  48084; United...  False   17
18    81062913  Box 2316, College Road East & Route One; Princ...  False   18
19    81065295             32 Valley Road; Paget   PG 05; Bermuda  False   19
20    81067179  4245 North Fairfax Drive, Suite 100; Arlington...  False   20
21    81067219  Route 1 and College Road East; Princeton; New ...  False   21
22    81073298  99-119 Rosebery Avenue; EC1R 4RE London; Unite...  False   22
23    81073545           89 St. Saviour's Road; St Helier; Jersey  False   23
24    81076933  1000 Fifth Avenue; New York   NY10028-0198; Un...  False   24
25    81081201  c/o Treasury Services; 200 First Street SW; Ro...  False   25
26    81081627  Wilberforce Way; Southwater; Horsham; West Sus...  False   26
27    81084646  c/o Sonnedix UK Services Limited; 57 Great Suf...  False   27
28    81000811          Heiligkreuz 6; Vaduz; 9490; Liechtenstein  False   28
29    81003805                  79 Deep Water Bay Road; Hong Kong  False   29
..         ...                                                ...    ...  ...
437  110118202                 COLYBRAND COMPANY SERVICES LIMITED  False  437
438  110003325                                   ST. JOHN JEAN A.  False  438
439  110111855                                    MARTINDALE ANNE  False  439
440  110112011                                        DUVAL MARIO  False  440
441  110095771                                    BLANDFORD SUSAN  False  441
442  110098344                                    MAPP ABU AKIL L  False  442
443  110123510                                  WEEKES W. WILLIAM  False  443
444  110127656                               FITZGERALD THOMAS J.  False  444
445  110110514                                    SAWHILL JOHN C.  False  445
446  110039443                                   LANDIS WILLIAM A  False  446
447  110098915                                 ST. JOHN ANDREW N.  False  447
448  210000063                                       ROMAN GERSAK  False  448
449  210000068                                     PREVOST JULIEN  False  449
450  210000196                                      LEVICAR DUSAN  False  450
451   56032075                         MEHEMMED IZZIDIN BEK DERNA  False  451
452   56026651                                      AARON SLADDEN  False  452
453   56006047  SOCIETY OF LADIES OF CHARITY OF ST. VINCENT DE...   True  453
454   56008914                                 ANDREW DAVID NEAVE  False  454
455   56015006                           LIBRA PRIVATE FOUNDATION   True  455
456   56037732                                     MARVIC SLADDEN  False  456
457   56033327                            ADEL MEHEMMED BEK DERNA  False  457
458   56033328                    ADEL MEHEMMED IZZIDIN BEK DERNA  False  458
459   56023750                                    ALEXANDER AGIUS  False  459
460   56043559                                     Antoine Cassar  False  460
461   56045491                                     PIERRE SLADDEN  False  461
462   56044541                                    LAWRENCE CASSAR  False  462
463   56040661                                THE BUSH FOUNDATION   True  463
464   56072038                DFK (Malta) Farrugia, Farrugia & Co  False  464
465   56097173                              PAUL ANTHONY O'CONNOR  False  465
466   56095879                                  ROBERT BOSCH GMBH   True  466

[467 rows x 4 columns]

In [204]:
graph_leak_matches('offshore')

Matches for offshore papers:
Name:
Type: DiGraph
Number of nodes: 68
Number of edges: 58
Average in degree:   0.8529
Average out degree:   0.8529

    node_id                                               name  match  id
0    237148                                                NaN  False   0
1    236724                                                NaN  False   1
2    264050                                                NaN  False   2
3    268974                                                NaN  False   3
4     49684                       Equity Trust (Samoa) Limited  False   4
5     54662                  Portcullis TrustNet (BVI) Limited  False   5
6    123290                Company Incorporations Asia Limited  False   6
7    119709                               ATC Primasia Limited  False   7
8    290197                          NetIncorp.com Corporation  False   8
9    291482       Gold-In Consulting Co., Ltd. ???????????????  False   9
10   296942                               Malkin & Maxwell LLP  False  10
11   297026  Wan-Shin Certified Public Accounting Firm - ??...  False  11
12   298073                               Hill Consulting Ltd.  False  12
13   147116                  INTERNATIONAL MEDICAL CORPORATION   True  13
14   158005               Vision World International Co., Ltd.   True  14
15   174703                       VISION INTERNATIONAL LIMITED   True  15
16   169213                            Friends of Assisi Trust  False  16
17   169289                  Herman Silver International Trust  False  17
18   158540                                 WORLD VISION CORP.   True  18
19   168995                            Captive Insurance Trust  False  19
20   197748              EAST MEETS WEST INTERNATIONAL LIMITED   True  20
21   208672                                       Adra Limited   True  21
22   158169                               WORLD VISION LIMITED   True  22
23   169460                                         Care Trust   True  23
24   170507                                  The Wexford Trust  False  24
25    72219                                        Wang, I-Lin  False  25
26   109972           World Vision                               True  26
27    87806                                      CHEN, Joan-Yi  False  27
28    92722                                    CHUNG, AI-CHING  False  28
29    90731                               CHENG CHEN, HUEY-WEN  False  29
..      ...                                                ...    ...  ..
38    81544                                    DANI ISMULYATIE  False  38
39    84445                                   CHEN, CHIN-CHUNG  False  39
40    94477                                    CHEN, LI-HSIANG  False  40
41    77721                                       CHUNG, AI-LI  False  41
42    79919                                     CHEN, HUNG-WEN  False  42
43   112458                                        CHEN, I-HAN  False  43
44    98828                                      CHEN, SHU-CHI  False  44
45   109057           Joan Ai-Lee Rombouts                      False  45
46    86009                                   YANG, SHIH-SHENG  False  46
47   102141           The Salvation Army                         True  47
48    96909                Portcullis TrustNet (Samoa) Limited  False  48
49   109710                      NetIncorp Agent Services Inc.  False  49
50   110052                                    CHEN, TAY-SHOUH  False  50
51   117408                           Alexander Johan Widjaja   False  51
52    20928               International Administrators Limited  False  52
53    22302                                  CIA Nominees Ltd.  False  53
54    22387                                          Sheng Bin  False  54
55    37736           Catholic Charities                         True  55
56    41975                             Angela Lestari Widjaja  False  56
57    42278           Vincent Yeoh Oon Weng                     False  57
58    67150                          MARIANELLA DOMADOR-PINEDA  False  58
59    49684                       Equity Trust (Samoa) Limited  False  59
60    53695                                    YANG, CHIH-HSIN  False  60
61    58528                                  HSUEH, CHING-YUEH  False  61
62    54662                  Portcullis TrustNet (BVI) Limited  False  62
63    53010                                       CHEN, LI-CHU  False  63
64    53149                                     YANG, TAI-YUAN  False  64
65    70068                                      WANG, YU-CHIN  False  65
66    73166                                      WU, MEI-LING   False  66
67    59567                                     YANG, CHIA-LUN  False  67

[68 rows x 4 columns]

In [ ]:
graph_leak_matches('bahamas')

In [ ]:
graph_leak_matches('panama', True)

In [ ]:
graph_leak_matches('paradise', True)

In [ ]:
graph_leak_matches('offshore', True)

In [201]:
graph_leak_matches('bahamas', True)

Size before removing loners: 27
Size after removing loners: 7
Matches for bahamas papers:
Name:
Type: DiGraph
Number of nodes: 10
Number of edges: 7
Average in degree:   0.7000
Average out degree:   0.7000

     node_id                                      name  match  id
0   23000046  ** DISABLED SUISSE SECURITY BANK & TRUST  False   0
1   23000047                             GRAHAM COOPER  False   1
2   23000083  PRICEWATERHOUSECOOPERS (BAHAMAS) LIMITED  False   2
3   23000136   MOSSACK FONSECA & CO. (BAHAMAS) LIMITED  False   3
4   23000139                FIRST CHOICE SERVICES LTD.  False   4
5   23000147               UBS TRUSTEES (BAHAMAS) LTD.  False   5
6   23000164                           MICHAEL HEPBURN  False   6
7   23000166                 SOVEREIGN BAHAMAS LIMITED  False   7
8   23000198         LENNOX CORPORATE SERVICES LIMITED  False   8
9   23000228             H & J CORPORATE SERVICES LTD.  False   9
10  23000238                           MCKINNEY TURNER  False  10
11  23000252                    DENNIS GOMEZ & COMPANY  False  11
12  23000280         PRIVATE TRUST CORPORATION LIMITED  False  12
13  23000294               RAS CORPORATE SERVICES LTD.  False  13
14  23000330               CREDIT SUISSE TRUST LIMITED  False  14
15  23000376      DOMINION MANAGEMENT SERVICES LIMITED  False  15
16  23000377                 OFFSHORE MANAGERS LIMITED  False  16
17  23000450                STERLING (BAHAMAS) LIMITED  False  17
18  20019717                 CROSS INTERNATIONAL CORP.   True  18
19  20043195                              ACUMEN CORP.   True  19
20  20045185              VISION INTERNATIONAL LIMITED   True  20
21  20063116                           CANTEEN LIMITED   True  21
22  20062102              CHRISTIAN INTERNATIONAL LTD.   True  22
23  20068610               LIONS INTERNATIONAL LIMITED   True  23
24  20072346             OPPORTUNITY INTERNATIONAL LTD   True  24
25  20081329                   EAST MEETS WEST LIMITED   True  25
26  20075548                       ACUMEN INCORPORATED   True  26
27  20077453                      CANCER RESEARCH CORP   True  27
28  20081853              THE HERITAGE FOUNDATION LTD.   True  28
29  20075969                                  CARE INC   True  29
30  20087962                        ACUMEN ENTERPRISES   True  30
31  20125485                             SANDY LIMITED   True  31
32  20126581                        United Way Limited   True  32
33  20098551                     MEDIA FOUNDATION LTD.   True  33
34  20099847               GOODWILL INTERNATIONAL LTD.   True  34
35  20101626                 INTERNATIONAL VISION LTD.   True  35
36  20103513                          YOUNG LIVES INC.   True  36
37  20118547                  WORLD INTERNATIONAL LTD.   True  37
38  21000216            The Lawrence Family Foundation   True  38
39  21000555               STARLIGHT GLOBAL FOUNDATION   True  39
40  22015372                         NOUH-CHAIA JOSEPH  False  40
41  22013223                        NOUH-CHAIA MONIQUE  False  41
42  22022615                        NOUH-CHAIA MONIQUE  False  42
43  22010304                          NOUH-CHAIA NAGIB  False  43
44  22007496                    NOUH-CHAIA-ISSA EVELYN  False  44